<section class="top-wrapper">
  <div class="top-container">
    <h2 class="h2-jp">素敵な<span class="text-bright">宿</span>で素敵な<span class="text-bright">体験</span>を。</h2>
    <h2 class="h2-en">A wonderful <span class="text-bright">experience</span> at a wonderful <span class="text-bright">inn</span>.</h2>
    <div class="top-search-form">
      <%= form_with url: rooms_path, method: :get do |f| %>
        <div class="area-search-top">
          <%= f.text_field :area, placeholder: "エリア名を入力", class: "input-field" %>
          <%= f.submit "検索", class: "search-button" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="area-view-wrapper">
  <div class="area-view-container">
    <h3>おすすめエリア</h3>
    <div class="all-area-panels">
      <ul>
        <li>
          <%= link_to rooms_path(@rooms, area: "東京") do %>
            <div class="area-panel-tokyo">
              <h4>東京</h4>
              <h4>Tokyo</h4>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to rooms_path(@rooms, area: "大阪") do %>
            <div class="area-panel-osaka">
              <h4>大阪</h4>
              <h4>Osaka</h4>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to rooms_path(@rooms, area: "京都") do %>
            <div class="area-panel-kyoto">
              <h4>京都</h4>
              <h4>Kyoto</h4>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to rooms_path(@rooms, area: "札幌") do %>
            <div class="area-panel-sapporo">
              <h4>札幌</h4>
              <h4>Sapporo</h4>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</section>
