<div class="sign-wrapper">
  <div class="sign-container">
    <h2>ログイン</h2>
    <%= form_with scope: :session, model: @user, url: log_in_path do |f| %>
      <div class="sign-form">
        <div>
          <%= f.label :email ,"メールアドレス", class: "input_label" %>
          <%= f.email_field :email, placeholder: "メールアドレスを入力", class: "input-field" %>
        </div>
        <div>
          <%= f.label :password ,"パスワード", class: "input_label" %>
          <%= f.password_field :password, placeholder: "パスワードを入力", class: "input-field" %>
        </div>

        <div>
          <%= f.submit "ログイン", class: "add-button" %>
          <%= link_to "新しいアカウントを登録する", sign_up_path, class: "cancel-button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
